-#= form_for [@song] do |f|
-#  - if @song.errors.any?
-#    #error_explanation
-#      %h2= "#{pluralize(@song.errors.count, "error")} prohibited this song from being saved:"
-#      %ul
-#        - @song.errors.full_messages.each do |msg|
-#          %li= msg
-#  .field
-#    = f.label :name
-#    = f.text_field :name
-#  .actions
-#    = f.submit 'Save'

= form_for [@song], html: { class: 'form-horizontal' } do |f|
  - if @song.errors.any?
    #error_explanation
      %h2= "#{pluralize(@song.errors.count, "error")} prohibited this song from being saved:"
      %ul
        - @song.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, class:'col-sm-1 control-label'
    .col-sm-5
      = f.text_field :name, class: 'form-control'
  .form-group
    =fields_for :artist do |af|
      = af.label :name, 'Artist', class:'col-sm-1 control-label'
      .col-sm-5
        = af.text_field(:name)
  .form-group
    = f.label :playlists, class:'col-sm-1 control-label'
    .col-sm-5
      %div.col-md-4.checkbox-list
        = f.collection_check_boxes(:playlist_ids, current_user.playlists, :id, :name, class: 'form-control')
  .form-group
    .col-sm-offset-1.col-sm-5
      = f.submit 'Save', class: 'btn btn-success'
