%div#show-song

  %div.container-fluid

    %div.row

      %div.col-md-8
        .header= "Learn how to play #{@song.artist.name} - #{@song.name}"
        .play_button
          %iframe{:src => "https://embed.spotify.com/?uri=#{@song.spotify_url}", :width => "300", :height => "100", :frameborder => "0", :allowtransparency => "true"}

      %div.col-md-4
        %b Your playlists containing this song:
        %ul
        - @song.playlists.each do |playlist|
          %li
            %a= link_to playlist.name, playlist_songs_path(playlist)

    %hr
    %div.row
      %div.col-md-8
        =render 'songs/materials'

      %div.col-md-3.col-xs-offset-1
        =render 'songs/related'