%div#show-song

  %div.container-fluid
    %div.row

      %div.col-md-8
        .header= "Learn how to play #{@song.artist.name} - #{@song.name}"
        .play_button
          %iframe{:src => "https://embed.spotify.com/?uri=#{@song.spotify_url}", :width => "300", :height => "100", :frameborder => "0", :allowtransparency => "true"}

      %div.col-md-2
        %b Your playlists containing this song:
        %ul.inline
        - @song.playlists.each do |playlist|
          %li
            %a= link_to playlist.name, playlist_songs_path(playlist)

    %div.row
      %div.col-md-8
        .header Materials

      %div.col-md-4.pull-right
        =render 'songs/related'

      %div.col-md-8
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "pill", :href => "#home"} Your Material
          %li
            %a{"data-toggle" => "pill", :href => "#search"} Google Results
      %div.col-md-8
        .tab-content
          #home.tab-pane.active{:role => 'tabpanel'}
            =render 'materials/index'
          #search.tab-pane{:role => 'tabpanel'}
            =render 'materials/search'




