%h1 Listing playlists
%div.table-responsive
  %div.pull-right
    = link_to 'New Playlist', new_playlist_path, class: 'btn btn-success'
    = link_to 'Sync Playlist with Spotify', select_spotify_playlists_path, class: 'btn btn-success'
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Number of Songs
        %th Created At
        %th

    %tbody
      - @playlists.each do |playlist|
        %tr
          %td= link_to playlist.name, playlist_songs_path(playlist)
          %td= playlist.songs.count
          %td= localize(playlist.created_at, :format => :short)
          %td
            %ul.list-inline
              %li
                =link_to edit_playlist_url(playlist), alt:'Edit',  title: 'Edit this material' do
                  %i.glyphicon.glyphicon-edit
              %li
                =link_to playlist, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                  %i.glyphicon.glyphicon-remove-sign
