<!DOCTYPE html>
<html>
<head>
  <title>TabKeeper</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="<%= songs_path %>">
        <%= image_tag ('TabKeep-logo_white.png'), style: 'position: relative; top:-10px; height: 45px' %>
      </a>
    </div>

    <div>
      <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <strong><%= current_user.email %></strong>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
              </ul>
            </li>
            </ul>
        <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
            </ul>
        <% end %>
        </div>
    <div>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"
             data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">Playlists
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Your Playlists', playlists_path %> </li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Recently played', recent_songs_path %> </li>
            <li><%= link_to 'Most played', most_played_songs_path %> </li>
          </ul>
        </li>
      </ul>


      <form action="<%= songs_path(action_name: 'search') %>" class="navbar-form navbar-left" role="search">
        <div class="input-group input-group-sm text-success">
          <input type="text" class="form-control" placeholder="Search songs" name="q" id="q">

          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>

    </div>
    <!-- /.navbar-collapse -->

  </div>

</nav>

<div class="container-fluid">

  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>




</body>
</html>
